<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="welcome-card">
                <h1 class="display-4">¡Bienvenido al sitio de Murialdo Hockey!</h1>
                <p class="lead">Por favor, ingresa a tu cuenta para continuar.</p>
                <hr class="my-4" style="border-color: #B22222;">
                <a class="btn btn-murialdo btn-lg" href="/admin/login" role="button">Ingresar</a>                
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>