.cuadrado {
    width: 100px;
    height: 100px;    
   display: inline-block;
    margin: 0;
    /* background-color: red; */
}

/* .cuadrado1 {
    width: 100px;
    height: 100px;    
    display: inline-block;
    margin: 0;
    background-color: red;
}
.cuadrado2 {
    width: 100px;
    height: 100px;    
    display: inline-block;
    margin: 0;    
    background-color: blue;
}
.cuadrado3 {
    width: 100px;
    height: 100px;    
    display: inline-block;
    margin: 0;    
    background-color: green;
} */
 .rojo {

    background-color: red;
}

.azul {

    background-color: blue;
}

.verde {

    background-color: green;
} */

body{
    font-size: 0;
}

