footer {
  background-color: #aaa;
  margin-top: auto;
  height: 32px;
}
.escudo_izquierdo{
  background-color: yellow;
}
.escudo_derecho{
  background-color: red;
}
.hero {
  /* background: url(../img/canchaModificada3.jpg) no-repeat; */
  background-size: cover;
  height: 53vh;
  /*height: 100vh; esto al 100vh hace que baje el Hero ocupe verticalmente toda la pantalla*/
  min-height: 400px;
  /* min-width: 200; */
  /* width: auto; */
  color: white;
}

h1,
h2 {
  font-family: 'Alfa Slab One', cursive;
  color: yellow;
  text-align: center;
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

#carouselExampleIndicators {
  max-width: 600px;
  /* Cambiá este valor según el tamaño deseado */
  /*ajusta la flechas de izquierda y derecha a la foto*/
  margin: 0 auto;
  /* Centra el carrusel horizontalmente */
  background-color: ivory;

}

/*#carouselExampleIndicators .carousel-item img {
  width: 100%;      /* Asegura que la imagen se ajuste al contenedor */
/*height: auto;     /* Mantiene la proporción */
/*object-fit: cover;
}*/

#carouselExampleIndicators .carousel-item img {
  height: 283px;
  /* Ajustá este valor según lo que necesites */
  object-fit: contain;
  /* Mantiene el recorte estético si la imagen es más grande */
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  /* fondo oscuro translúcido */
  border-radius: 50%;
}

.foto-grupal {
  width: 100%;
  /* Se adapta al ancho del contenedor */
  max-width: 800px;
  /* Límite máximo para que no se estire demasiado */
  height: auto;
  /* Mantiene la proporción */
  display: block;
  margin: 0 auto;
  /* Centrada */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* index2.html */

.centro {
  margin-top: 56px;
  /* border: 1px solid #000; */
  background-color: red;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;

}

.izquierda {
  /* margin-top: 56px;   */
  background-color: #cccccc;
  padding: 10px;
  max-width: 100%;
  margin-right: auto;
  margin-left: 0;
  box-sizing: border-box;

}

.izquierda_abajo {
border: 1px solid #000;
/* background-color: #cccccc; */
background-color: yellow;
padding: 10px;
max-width: 100%; /* o simplemente eliminá width */
margin-right: auto;
margin-left: 0;
box-sizing: border-box;
}

.derecha {
  /* margin-top: 56px; */
  /* border: 1px solid #000; */
  background-color: #cccccc;
  /* padding: 10px; */
  margin-right: 0;
  margin-left: auto;
}

.derecha_abajo {
  /* margin-top: 56px; */
  border: 1px solid #000;
  /* background-color: #cccccc; */
  background-color: red;
  /* padding: 20px; */
  margin-right: 0;
  margin-left: auto;
  
}

.centro_abajo {
  margin-top: 70px;
  border: 1px solid #000;
  background-color: #cccccc;
  /* padding: 20px; */
  margin-right: 0;
  margin-left: auto;
  height: 290px;
  
}

.imagen {
  /* margin-top: 56px; */
  border: 1px solid #000;
  /* background-color: #cccccc; */
  /* padding: 20px; */
  width: 100%;
  height: 400px;
}

.central-contenido {
  padding-left: 0;
  padding-right: 0;
}

.testimonios{
  background-color: #dadada;
  padding-bottom: 4rem !important;
}
.testimonio{
  text-align: center;
  padding: 30px 50px  ;
}

.staff{
  background: #efefef;
}

.letraTituloCard {

  font-size: 15px;
}

.letraNombreCard{
  font-size: 13px;
}
/* .rectangulo-superior {
  background-color: #0d6efd;
  color: white;
  min-height: 100px;
  padding: 20px;

}

.rectangulo-inferior {
  background-color: #6c757d;
  color: white;
  border: 2px solid #000;
}

.rectangulo-izquierdo {
  background-color: #6c757d;
  color: white;
  min-height: 270px;
  min-width: 20px;
  padding: 20px;
} */

.contenedor {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 1200px;
}


/* .contenido-izquierdo,
.contenido-derecho {
  width: 100%;
}


.contenido-superior {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.imagen-ajustada {
  width: 100%;
  display: block;
} */


/* .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-izquierdo,
.contenido-derecho {
  width: 20%;
}

.contenido-central {
  width: 60%;
  text-align: center;
} */