footer {
    background-color: #aaa;
    margin-top: auto;
    height: 25px;
}

.hero {
    background: url(../img/canchaModificada3.jpg) no-repeat;
    background-size: cover;
    height: 53vh;
    /*height: 100vh; esto al 100vh hace que baje el Hero ocupe verticalmente toda la pantalla*/
    min-height: 400px;
    color: white;
}

h1,h2{
    font-family: 'Alfa Slab One', cursive;
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

 #carouselExampleIndicators {
  max-width: 600px; /* Cambiá este valor según el tamaño deseado */ /*ajusta la flechas de izquierda y derecha a la foto*/
  margin: 0 auto;   /* Centra el carrusel horizontalmente */
  background-color:ivory;

}

/*#carouselExampleIndicators .carousel-item img {
  width: 100%;      /* Asegura que la imagen se ajuste al contenedor */
  /*height: auto;     /* Mantiene la proporción */
  /*object-fit: cover;
}*/

#carouselExampleIndicators .carousel-item img {
  height: 400px; /* Ajustá este valor según lo que necesites */
  object-fit: contain; /* Mantiene el recorte estético si la imagen es más grande */
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro translúcido */
border-radius: 50%;
}

.foto-grupal {
  width: 100%;         /* Se adapta al ancho del contenedor */
  max-width: 800px;    /* Límite máximo para que no se estire demasiado */
  height: auto;        /* Mantiene la proporción */
  display: block;
  margin: 0 auto;      /* Centrada */
}


body {
display: flex;
flex-direction: column;
min-height: 100vh;
}
