.tablero {
  display: grid;
  grid-template-columns: repeat(8, 70px); /* 8 columnas de 60px */
  grid-template-rows: repeat(8, 70px);    /* 8 filas de 60px */
  border: 2px solid black;
}

.cuadro {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.blanco {
  background-color: #f0d9b5;
}

.negro {
  background-color: #b58863;
}