body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #333; */
    background-color: #FFFF00; /* Amarillo brillante y puro */
    padding-top: 56px;
    /* Para que el contenido no quede detrás del navbar fijo */
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    /* Bordes redondeados para la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* Reduje un poco el padding para un aspecto más limpio */
    margin-bottom: 20px;
    /* Reduje un poco el margen inferior */
    border: 1px solid #e0e0e0;
    /* Añadí un borde sutil */
    width: 600px;
    /* Ancho fijo */
    height: 400px;
    /* Alto fijo */
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    /* Cubre el contenedor, recortando si es necesario */
    width: 550px;
    /* Ancho fijo */
    height: 350px;
    /* Alto fijo */
    margin: 0 auto;
    /* Centra la imagen horizontalmente dentro de la tarjeta si es necesario */
    display: block;
    /* Evita espacios extra debajo de la imagen */
}

.card-title {
    font-size: 1.25rem;
    /* Un tamaño ligeramente más grande para el título */
    margin-bottom: 0.5rem;
    /* Espacio inferior para el título */
}

.card-text {
    font-family: 'Arial', sans-serif;
    /* Fuente estándar y legible */
    font-size: 1rem;
    /* Tamaño de letra normal para la descripción */
    color: #333;
    /* Un gris más oscuro para mejor lectura */
}

/* Aplicar la fuente 'Montserrat' a todos los títulos h2 */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Le da el peso de negrita, lo que la hace ver elegante y con más presencia */
    color: #DC143C; /* Rojo intenso */
}

/* Modificación específica para el título "Contáctanos" */
.bg-red-custom h2.text-center.mb-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFFFFF; /* Blanco */
}

h5 {
    font-family: 'Arial Black', Gadget, sans-serif; /* Misma fuente para los títulos de las tarjetas */
    font-size: 1.75rem;
    color: #ff0019 !important;
}

h3{
    color: #ff0019 !important;
}

.text-danger {
    color: #ff0019 !important;
}
 .admin-text {
    color: yellow;
    font-size: 1.2rem; /* Tamaño de letra más pequeño */
 }